* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: white;
  --secondary: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  --font-color: #9a9a9a;
  font-size: 62.5%;
}
#root {
  width: 100%;
}
body {
  font-family: "Work Sans", sans-serif;
  min-height: 120vh;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(/assets/images/background-pattern-desktop.svg) no-repeat
    center center / cover;
  width: 100%;
  height: 320px;
}
.faqs {
  background-color: white;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 30px;
  border-radius: 2rem;
  max-width: 45%;
  max-height: 30%;
}
.faqs header {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.collapse {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1.6rem;
}
.faqs h1 {
  font-size: 3rem;
}

.faqs .text {
  font-size: 1.6rem;
  color: var(--font-color);
  border-radius: 1.6rem;
  padding: 2rem;
  line-height: 2rem;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  margin: 2rem 0.2rem;
  opacity: 0;
  animation: accordion 0.4s linear forwards;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.question h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
.question {
  margin-bottom: 0.8rem;
}
.q-group {
  margin-bottom: 3rem;
}
.attribution {
  text-align: center;
  font-size: 1.8rem;
}
.attribution a {
  text-decoration: none;
}
.hide {
  display: none;
}
@keyframes accordion {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (375px <= width <= 1000px) {
  .faqs {
    max-width: 60%;
  }
  .faqs header h1 {
    font-size: 2.4rem;
  }
  .faqs header img {
    width: 2.4rem;
    margin-right: 0.5rem;
  }
  .question h4 {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .q-group .text {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .attribution {
    font-size: 1.4rem;
  }
}
